/* ---> VARS <--- */

:root {
    --white: #cdcdcd;
    --black: #171717; /* section background color */
    --pink: #ff94d1; /* border */
    --green: #80f59d; /* selected page color */
    --text: #cdbeb1; /* text color */
    --hover: #fc4040; /* hover color */
    --shadow: #000000d8; /* bg for zoomed images */

    --padding: 1rem;
    --margin: 1rem;
    --small-margin: 0.8rem;
    --large-margin: 1.2rem;
}

/* ---> GENERAL <--- */

* {
    margin: 0;
    padding: 0;
}

html,
a {
    cursor: none !important;
}

body {
    min-height: 95.5vh;
    display: grid;
    padding: var(--padding);

    color: var(--text);
    background-color: var(--black);
    border: ridge;
    border-width: thick;
    border-color: var(--pink);

    font-family: "Fira Code";
    font-style: normal;
    line-height: 1.4;

    grid-template-columns: repeat(2, fit-content(10rem)) repeat(3, 1fr);
    grid-template-rows: repeat(2, fit-content(8rem)) repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "head head main main main"
        "head head main main main"
        ".    .    main main main"
        ".    .    main main main"
        ".    .    main main main";
}

code {
    font-family: "Fira Code", monospace;
}

@supports (font-variation-settings: normal) {
    code {
        font-family: "Fira Code VF", monospace;
    }
}

header {
    grid-area: head;
    margin-bottom: var(--margin);
    margin-right: var(--margin);
    padding: var(--padding);
    border: ridge;
    border-width: thick;
    border-color: var(--pink);
}

main {
    grid-area: main;
    max-width: 1200px;
    padding: var(--padding);
    font-size: 1rem;
    font-weight: 400;
    border: ridge;
    border-width: thick;
    border-color: var(--pink);
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--hover);
}

h1 {
    margin: 0;
    font-weight: 400;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

main h2 a {
    text-decoration-style: double;
    text-decoration-line: underline;
    text-decoration-thickness: 0.1rem;
}

/* ---> CURSOR <--- */

.pointer {
    display: none;
    position: fixed;
    margin-top: 0.5rem;
    margin-left: -1.8rem;
    font-size: 40px;
    transform: rotateX(180deg);
    rotate: -110deg;
    z-index: 1000;
    pointer-events: none;
    filter: brightness(100);
}

/* ---> MENU <--- */

.site-logo {
    padding-bottom: var(--padding);
}

.active {
    color: var(--green);
}

nav {
    margin-top: var(--large-margin);
}

.nav {
    margin-bottom: var(--small-margin);
    font-size: 1.2rem;
}

.copyright {
    margin-top: 50px;
    color: var(--text);
    font-size: 0.8rem;
}

/* ---> PAGES <--- */

main .button a {
    text-decoration: none;
}

time {
    font-style: italic;
    font-size: 1rem;
}

.section {
    margin-top: var(--large-margin);
    margin-bottom: var(--large-margin);
    padding: var(--padding);
    border: ridge;
    border-width: thick;
    border-color: var(--pink);
}

.section h2 {
    margin-bottom: var(--small-margin);
}

.section p {
    margin-top: var(--large-margin);
}

.page {
    position: relative;
    height: 100%;
}

.page h1 {
    margin-bottom: var(--small-margin);
}

.page p {
    margin-top: var(--large-margin);
}

.page p a {
    color: var(--pink);
    text-decoration-style: double;
    text-decoration-line: underline;
    text-decoration-thickness: 0.1rem;
}

.page-head {
    margin-bottom: var(--margin);
}

.credits {
    position: absolute;
    bottom: 0;
}

/* ---> IMAGES <--- */

.headshot img {
    max-width: 200px;
}

.image {
    max-width: 400px;
}

.image-wrapper img.zoom {
    z-index: 900;
    cursor: zoom-in;
}

.image-wrapper .shadow {
    display: none;
}

.image-wrapper input[type="checkbox"]:checked ~ label > .image {
    display: block;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 60vw;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    cursor: zoom-out;
    z-index: 920;
}

.image-wrapper input[type="checkbox"]:checked ~ label > .shadow {
    display: block;
    transform: translate(-50%, -50%);
    cursor: zoom-out;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    z-index: 910;
}

.shadow {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--shadow);
}

/* ---> MOBILE <--- */

@media only screen and (max-width: 1000px) {
    :root {
        --padding: 0.4rem;
        --margin: 0.4rem;
        --small-margin: 0.4rem;
        --large-margin: 0.8rem;
    }

    body {
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas:
            "head"
            "head"
            "main"
            "main"
            "main";
    }

    header {
        margin-right: 0px;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .copyright {
        margin-top: 20px;
    }

    .image {
        max-width: 80%;
    }

    .image-wrapper input[type="checkbox"]:checked ~ label > .image {
        max-width: 95vw;

    }

    p.credits {
        position: relative;
        margin-top: 40px;
    }
}
